{% extends 'base.html' %}
{% block title %}  Bookmark List {% endblock %}
{% block content %} 

<div class="btn-group">
      <a href="{% url 'add' %}" class="btn btn-info">  Add Bookmark </a>
  </div>
  <p> 문장  </p>
 <table class='table'>
     <thead>
       <tr>
           <th scope="col">#</th>
           <th scope="col">Site</th>
           <th scope="col">Url</th>
           <th scope="col">Modify</th>
           <th scope="col">Delete</th>
       </tr>
     <tbody>
         {% for bookmark in object_list %}
           <tr>
               <td> {{ forloop.counter}}</td>
               <td> <a href="#"> {{bookmark.site_name}} </a> </td>
               <td> <a href="{% url 'detail' pk=bookmark.id %}"> {{bookmark.site_name}} </a> </td> 
               <td> <a href="{{bookmark.url}}" target="_blank" >{{bookmark.url}}</a></td>
               <td> <a href="{% url 'update' pk=bookmark.id %}" class="btn btn-success btn-sm">Modify </td>
               <td> <a href="{% url 'delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">Delete </td> -->
           </tr>  

         {% endfor %}
     </tbody>  

     </thead>
 </table>
 {% endblock %}